@charset "utf-8";
/* CSS Document */




body{
	
	background-image:url("file:///C:/Users/admin/Downloads/dil-H3yxl7t2oNE-unsplash.jpg");
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	color: aliceblue;
	background-size:cover;
	
	
	
	
	
}



.firstclass {
 /* background-color:;*/
 color: black;
  margin: 30px;
	padding: 30px;
	width: 92%;
	height: 70px;
	border-radius: 12px;
	text-align: center;
	
	
}


.firstclass:hover {
 /* background-color: darkblue;*/
 color:black;

	padding: 30px;
	width: 92%;
	height: 70px;
	transition: 1s;
border-radius: 12px;
	align-content: center;
	
}


ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  background-color:none;
	border-radius: 0px;
	color: WHITE;
}



li {
  float:left;
	
}

li a {
  display: block;
  color: WHITE;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
	border-radius: 30px;
	
}

li a:hover {
  background-color:cornflowerblue;
	color:white;
	transition: 0.8s;
	
}


.cities{
	width:60%;
	background-color:#575757;
	align-content: center;
	color: white;
	border-radius:14px;
	position: absolute;
	left:250px;
}

input[type="text"]{
	padding: 20px;
	background-color:#575757;
	border:dashed 2px greenyellow;
	border-radius: 12px;
}

input[type="text"]:active{
	padding: 20px;
	background-color:green;
	border:black;
	border-radius: 12px;
}

input[type="date"]{
	padding: 20px;
	background-color: #575757;
	border:dashed 2px white;
	border-radius: 30px;
}


input[type="time"]{
	padding: 20px;
	background-color: #575757;
	border:dashed 2px white;
	border-radius: 30px;
}



input[type="button"]{
	border-radius:40px;
	background-color:cornflowerblue;
	border:none;
	padding: 20px;
	width: 158px;
	height: 70px;
	font-size: 25px;
}

input[type="button"]:hover{
	border-radius:40px;
	background-color:cyan;

	padding: 20px;
	width: 198px;
	height: 70px;
	transition:1s;
	font-size: 26px;
}

h1{
	color:white;
}



h3{
	color:greenyellow;
}

select{
	background-color: #575757;
	border:dashed 2px white;
	padding: 10px;
	border-radius: 30px;
	transition: 2s;
}


select:hover{
	background-color:#878787;
	border:dashed 2px white;
	padding: 10px;
	border-radius: 30px;
	width:120px;
	
	
}

.revv{
	background-color: gold;
	color:black;

}

.active{
	background-color: cornflowerblue;
	
	
}