@charset "utf-8";
/* CSS Document */

.firstclass {
 /* background-color:;*/
 color: black;
  margin: 30px;
	padding: 30px;
	width: 92%;
	height: 70px;
	border-radius: 12px;
	text-align: center;
	
}


.firstclass:hover {
 /* background-color: darkblue;*/
 color:darkgrey;
 /* margin: 30px;*/
	padding: 20px;
	width: 92%;
	height: 70px;
	transition: 1s;
border-radius: 12px;
	align-content: center;
	
}


ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  background-color:none;
	border-radius: 0px;
}



li {
  float:left;
	
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
	border-radius: 30px;
	
}

li a:hover {
  background-color:cornflowerblue;
	color:white;
	transition: 0.8s;
	
}
.active{
	background-color:cornflowerblue;
	color:white;
}
